misc.txt
.ipynb_checkpoints
.part*
part-*
dags/__pycache__
*_SUCCESS*
*.pyc
**/*.Rproj
**/.Rhistory
**/*.python_history
**/derby.log
**/*.html

.idea
local_data
code/airflow
**/.Rproj.user/
**/.cache/
**/.local/
**/.config/
**/.bash_history
**/metastore_db/




